ol {
  margin-left: -40 px;
  margin-top: -20 px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
h1{color: black;}
h2{color: #FF5733;}
hr{color:#FF5733;}
*{background: #215ef4}
*{
  text-align: center
}

img{
    height: 300px;
    width: 300px;
}
